*.xnb
The-Revenge-Of-the-Dark-Side/TRODS/TRODS/TRODSContent/bin/*
The-Revenge-Of-the-Dark-Side/TRODS/TRODS/TRODSContent/obj/*
The-Revenge-Of-the-Dark-Side/TRODS/TRODS/TRODS/bin/*
The-Revenge-Of-the-Dark-Side/TRODS/TRODS/TRODS/obj/*